{% extends "base.html"%}
{% block start %}

    

<form class="container-md mb-6 p-3 my-3 bg-light col-6 card" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <h2 class="text-center">Register</h2>
            {% if messages %}
            <ul class="messages">
                
               
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                </li>
            
            </ul>
            {% endif %}



    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control"  required ="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control"  required ="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control"  required ="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control"  required ="exampleInputEmail1" aria-describedby="emailHelp">    </div>
    
    <p>Already Have an Account <a href="/login">Login</a></p>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

    {% endblock %}